MainBody {
  display: flex;
  flex-direction: column; /* Располагаем элементы друг под другом */
  align-items: center;  /* Центрируем по горизонтали */
  padding: 20px;  /* Добавляем отступы вокруг контента */
}

.Container-VideoSpace {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column; /* Изменили на column, чтобы элементы шли друг под другом */
background-color: #463783;
height: auto; /* Убираем фиксированную высоту, чтобы контент помещался */
width: 54rem;
padding: 1.25rem;
border-radius: 1.25rem;
margin-bottom: 20px; /* Отступ между контейнером видео и кнопкой */
}

.Container-VideoSpace > * {
margin-bottom: 1rem; /* Отступы между элементами внутри container-videoSpace */
}


.VideoSpace {
width: 100%; /* Занимает всю ширину родителя */
max-width: 48.625rem; /* Ограничиваем ширину */
height: auto;  /* Высота подстраивается под видео */
}


#notice {
color: white;
font-size: 1.5rem;
text-align: center; /* Центрируем текст */
}


.test-container { /* Новый класс для контейнера теста */
  width: 100%;
  max-width: 48.625rem;
  color: white;
}


.test-results {
color: white;
font-size: 1.2rem;
margin-top: 1rem;
}

.ButtonBack{
background-color: white;
color: black;
font-weight: 600;
font-size: 1rem;
padding: 10px 20px;  /* Добавляем отступы для кнопки */
border: none;        /* Убираем границы */
border-radius: 5px; /* Закругляем углы */
cursor: pointer;     /* Курсор-рука при наведении */
margin-top: 20px;    /* Отступ сверху */
}

.test-container button {
background-color: white;
color: black;
font-weight: 600;
font-size: 1rem;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
margin-top: 1rem;
}

.question-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.question-content {
  background: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.question-content input {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  box-sizing: border-box;
}

.hint {
  font-size: 12px;
  color: #666;
  margin-top: 5px;
}