.side-nav {
    background-color:  #463783;
    width: 150px;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.nav-button {
    background-color: white;
    border: none;
    padding: 20px 20px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    color: black;

}
.nav-button-ex{
    background-color: white;
    border: none;
    padding: 20px 20px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 470px;
    color: black;
    
}
