.container-all {
  display: flex;
  height: 100%; /* Занимает всю высоту экрана */
  width: 160vh;
   margin-left: 10rem; /* Отступ равный ширине нав меню */
  background-color: white;
  overflow: hidden;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.25rem;
  margin-right: 1.25rem;
  box-sizing: border-box;
}

.user-photo {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  margin-bottom: 0.625rem;
  border-radius: 10%;
  margin-left: 2.5rem; /* Добавили отступ слева */
}

.button-account {
  background-color: #e0e0e0;
  border: none;
  padding: 0.625rem 0.9375rem;
  border-radius: 1.25rem;
  cursor: pointer;
  margin-bottom: 1.25rem;
  align-self: flex-start;
  margin-left: 8.125rem; /* Добавили отступ слева */
}

.user-info-details {
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;
}

.info-background {
  background-color: #e0e0e0; /* Овальный серый фон */
  border-radius: 1.25rem;
  padding: 0.2rem 1rem; /* Внутренние отступы */
  display: inline-flex; /* Чтобы элементы растягивались по содержимому */
  justify-content: center;
  align-items: center;
  width: fit-content; /* Ширина под текст */
  min-width: 12.5rem; /* Минимальная ширина (при необходимости) */
  text-align: center;
}

.info-row {
  display: flex;
  justify-content: space-between; /* Распределяем пространство между label и значением */
  margin-bottom: 0.625rem;
  margin-top: 1rem;
}

.info-label {
  font-weight: bold; /* Сделаем надписи полужирными */
  margin-right: 0.5rem; /* Небольшой отступ между label и значением */
}

