h2{
  font-size: 2rem;
}
.create-container {
  flex: 1;
  padding: 1.25rem;
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Heading {
  color: black;
}
.SpaceForCreate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #463783;
  width: 57rem;
  padding: 1.25rem;
  border-radius: 1.25rem;
  
}
.video-drop-area {
  margin: 2rem;
  width: 100%;
  max-width: 50rem;
  height: 20rem;
  padding: 0;
  border: none;
  border-radius: 1.25rem;
  background-color: #D9D9D9;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
  font-size: 1.2rem;
  overflow: hidden; /* Чтобы видео не выходило за края формы */
}
.video-drop-area p {
  margin: 0;
}
.video-preview {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
  background-color: #000;
}
.InputCreate {
  width: 50rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  font-size: 0.7rem;
  margin-bottom: 2rem;
}

.ButtonNewQuestion
{
width: 30rem;
border-radius: 1rem;
 margin-bottom: 2rem;
}



.UploadButton {
  color: black;
  background-color: white;
  border-radius: 1rem;
  width: 15rem;
}

.button-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 1.25rem; 
}

.icon-button {
  background-color: #fff;
  border: none;
  width: 4rem; 
  height: 3rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 3rem;
}

.icon-button img {
  max-width: 2.5rem;
  max-height: 2.5rem;
}