
.logo {
  height: 6em;
  padding: 1.5rem;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2rem;
}

.read-the-docs {
  color: #888;
}



.header {
  text-align: center;
  width: 31.25rem;
  
}

.header h1 {
  font-size: 1.625rem;
  font-weight: bold;
  color:#463783;
}

.title {
  margin-bottom: 1.875rem;
}

.title h2 {
  font-size: 3.75rem;
  font-weight: bold;
  color: black;
}

.sub-forms {
  display: flex;
  gap: 1.25rem;
  margin-bottom: 1.875rem;
}

.sub-form {
  width: 23.125rem;
  height: 12.5rem;
  background-color: #463783;
  border-radius: 1.25rem;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: -2.5rem; /* Добавлен отрицательный margin-top */
  
}

.sub-form h3 {
  margin: 0;
  font-size: 1.375rem;
  font-style: italic;
}

.auth-button {
  background-color: #463783;
  color: white;
  padding: 1rem 3.75rem;
  border: none;
  border-radius: 1.25rem;
  cursor: pointer;
  font-size: 1rem;
}